{% extends 'base.html.twig' %}

{% block title %}Absence index{% endblock %}

{% block body %}

    {% for absence in absences %}
        <tr>
            <td>{{ absence.id }}</td>
            <br>
            <td>{{ absence.startdate|date("m/d/Y") }}</td>
            <br>
            <td>{{ absence.enddate|date("m/d/Y") }}</td>
            <br>
        </tr>
    {% else %}
        <tr>
            <td>no records found</td>
        </tr>
    {% endfor %}

    <a href="{{ path('absence_new') }}">Create new</a>

{% endblock %}