{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}

    {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.firstname }}</td>
            <td>{{ employee.lastname }}</td>
        </tr>
    {% else %}
        <tr>
            <td>no records found</td>
        </tr>
    {% endfor %}


{% endblock %}